//@import "color";

.container__footer {
    background: var(--gray);
    color: $_white;

    .container__text {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        width: clamp(290px, 90%, 1200px);

        @include media( "screen", ">minWidth", "<bp2Width" ){
            flex-direction: column;

            :is(p, a) {
                font-size: .8rem;
            }
        }

        :where(.links, .social) :is(p) {
            font-weight: 900;
            margin-block-end: 10px;
        }

        .links, .social {

            @include media( "screen", ">minWidth", "<bp2Width" ){
                margin-block-start: 10px;
            }
        }

        .logo {

            figure {
                align-items: center;
                display: flex;
                flex-direction: column;
            }
            svg {
                fill: $_white;
            }
        }

        .social {
            svg {
                margin-right: 10px;
            }
        }

        a {
            color: $_white;
        }
    }
}