//@import "color";

section.container__form {

    .form {
        align-items: center;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        overflow: hidden;
        width: clamp(320px, 80%, 1200px);

        .container__form_user {
            display: flex;
            flex-direction: row;
            gap: 60px;
            justify-content: space-between;

            @include media( "screen", ">minWidth", "<bp3Width" ){
                align-items: center;
                flex-direction: column;
                gap: 0;
            }
        }

        input {
            display: block;
        }

        .email, .container__form_user  {
            width: clamp(300px, 80%, 400px);

            input, textarea {
                background: var(--white);
                border: 1px solid $_form;
                border-radius: 5px;
                font-family: poppins;
                margin-block: 10px;
                outline: none;
                padding: 10px;
                width: 100%;

                &:focus {
                    border: 1px solid $_primary;
                }
            }

            textarea {
                resize: vertical;
            }

            .send {
                display: flex;
                justify-content: flex-end;
                position: relative;

                .spinner__icon {
                    font-size: 18px;
                    position: relative;
                }
                
                .spinner {
                    background: $_primary;
                    border-radius: 30px;
                    color: $_white;
                    cursor: pointer;
                    display: flex;
                    padding: 8px 20px;
                    border: none;

                    svg {
                        fill: $_white;
                        margin-block-start: 3px;
                        margin-inline-end: 5px;
                        width: 20px;
                    }
                }

                .plane {
                    display: flex;
                    align-items: center;
                    transition: .2s ease;
                }
            }
        }

        .name, .surname {
            position: relative;
            width: 50%;

            @include media( "screen", ">minWidth", "<bp3Width" ){
                width: 100%;
            }

            .input {
                background: transparent;
                border: 1px solid $_form;
                border-radius: 5px;
                outline: none;
                top: 0;
                z-index: 1;
            }

            .label {
                color: $_form;
                left: 10px;
                top: 17px;
                position: absolute;
                transition: .2s ease-in-out;
                z-index: -1;
                -moz-transition: .2s ease-in-out;
                -o-transition: .2s ease-in-out;

                span {
                    color: red;
                }
            }

            input:focus  {
                border: 1px solid $_primary;
            }

            .input:focus ~ .label, .input:not(:placeholder-shown).input:not(:focus) ~ .label {
                background: var(--text);
                color: $_primary;
                transform: translateY(-18px) scale(.84);
                z-index: 1;
                -moz-transform: translateY(-18px) scale(.84);
                -o-transform: translateY(-18px) scale(.84);
            }
        }

        ::placeholder {
            font-family: poppins;
            font-size: 16px;
        }
    }
}




/* HTML: <div class="loader"></div> */
.loader {
    width: 20px;
    aspect-ratio: 1;
    border: 5px solid #ddd;
    border-radius: 50%;
    position: absolute;
    transform: rotate(45deg);
    top: 4px;
    transition: .2s ease;
  }
  .loader::before {
    content: "";
    position: absolute;
    inset: -6px;
    border-radius: 50%;
    border: 6px solid #514b82;
    animation: l18 2s infinite linear;
  }
  @keyframes l18 {
      0%   {clip-path:polygon(50% 50%,0 0,0    0,0    0   ,0    0   ,0    0   )}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0   ,100% 0   ,100% 0   )}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    0   )}
  }