@import "color";

section.container__form {

    .form {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .container__form_user {
            display: flex;
            flex-direction: row;
            gap: 60px;
            justify-content: space-between;
            height: 50px;
        }

        input {
            display: block;
        }

        .email, .container__form_user  {
            width: 400px;

            input, textarea {
                width: 100%;
                margin-block: 10px;
                padding: 10px;
            }

            .send {
                display: flex;
                justify-content: flex-end;

                span {
                    display: flex;
                    padding: 8px 20px;
                    border-radius: 30px;
                    background: $_primary;
                    color: $_white;
                    cursor: pointer;

                    svg {
                        width: 20px;
                        margin-block-start: 3px;
                        margin-inline-end: 5px;
                        fill: $_white;
                    }
                }
            }
        }

        .name, .surname {
            width: 50%;
            position: relative;

            .input {
                position: absolute;
                top: 0;
                background: transparent;
                z-index: 1;
                border: 1px solid $_form;
                border-radius: 5px;
                outline: none;
            }

            .label {
                position: absolute;
                top: 16px;
                left: 10px;
                color: $_form;
                transition: .2s ease;
            }

            input:focus  {
                border: 2px solid $_primary;
            }

            .input:focus ~ .label, .input:not(:placeholder-shown).input:not(:focus) ~ .label {
                transform: translateY(-17px) scale(.84);
                z-index: 1;
                background: $_white;
                color: $_primary;
            }
        }

        ::placeholder {
            font-family: poppins;
            font-size: 16px;
        }

        textarea, input{
            outline: none;
            font-family: poppins;

            &:focus {
                border: 2px solid $_primary;
            }
        }
    }
}