

header {
    background-image: url("/assets/img/bg-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .hero__section {
        position: absolute;
        width: 100%;
        top: 30%;
    }

    .hero__text {
        position: relative;
        top: 30%;
        left: 20%;
        width: clamp(100px, 50%, 300px);
    }

    p {
        text-wrap: balance;
    }

    .find__more {
        display: inline-block;
        text-align: right;
        position: relative;

        &::after {
            display: inline-block;
            content: "↓";
            position: absolute;
            transform: scale(1.5);
            transition: .5s;
            right: 12%;
            top: 0;
            opacity: 0;
        }

        &:hover::after {
            opacity: 1;
            top: 100%;
        }
    }

    .social {
        bottom: 150px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        right: 30px;
    }

    span.hero__welcome {
        position: absolute;
        right: 50px;
        bottom: -40px;
        filter: drop-shadow(0 0 4px hsla(0, 0, 0, 12%));
        font-size: 10vw;
        color: transparent;
        background: linear-gradient(to right, #87c0ff, #f9a8f7);
        background-clip: text;
        font-weight: 500;
    }
}