@import "color";

nav {
    position: fixed;
    z-index: 3;
} 

.header__menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: clamp(320px, 80%, 1200px);
    background: #212121;
    margin-block-start: 10px;
    border-radius: 50px;
    padding: 20px;

    @include media( "screen", ">minWidth", "<bp2Width" ){
        width: 100%;
        border-radius: 0;
        margin-block-start: 0;
    }

    figure.logo {
        align-items: center;
        display: flex;
        gap: 20px;

        svg {
            fill: $_white;
        }

        figcaption {
            color: $_white;
        }
    }

    .menu {

        @include media( "screen", ">minWidth", "<bp2Width" ){
            display: none;
        }

        ul {
            display: flex;

            li {
                list-style-type: none;
    
                a {
                    position: relative;
                    color: $_white;
                    margin-inline-end: 1.5rem;
                    text-decoration: none;

                    &:hover {
                        color: $_primary;
                    }

                    &::after {
                        background: $_primary;
                        content: "";
                        display: inline-block;
                        height: .1rem;
                        left: 0;
                        opacity: 0;
                        position: absolute;
                        top: 25px;
                        transition: .6s;
                        width: 0;
                    }

                    &:hover::after {
                        opacity: 1;
                        width: 100%;
                    }
                }
            }
        }
    }
}