//@import "color";

nav {
    position: fixed;
    z-index: 3;
} 

.header__menu {
    align-items: center;
    background: var(--gray);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    width: clamp(320px, 80%, 1200px);
    container-name: name__logo;
    container-type: inline-size;


    @include media( "screen", ">minWidth", "<bp2Width" ){
        border-radius: 0;
        margin-block-start: 0;
        width: 100%;
        justify-content: flex-start;
        gap: 20px;
    }

    figure.logo {
        align-items: center;
        display: flex;
        gap: 20px;

        svg {
            fill: $_white;
        }

        figcaption {
            color: $_white;

            @include media( "screen", ">minWidth", "<bp2Width" ){
                display: none;
            }
        }
    }

    @container name__logo (max-width: 769px) {
        .logo figcaption {
            display: none;
        }
    }

    .menu {
        ul {
            display: flex;

            li {
                @include media( "screen", ">minWidth", "<bp2Width" ){
                    display: none;
                }
                list-style-type: none;
    
                a {
                    color: $_white;
                    margin-inline-end: 1.5rem;
                    position: relative;
                    text-decoration: none;

                    &:hover {
                        color: $_primary;
                    }

                    &::after {
                        background: $_primary;
                        content: "";
                        display: inline-block;
                        height: .1rem;
                        left: 0;
                        opacity: 0;
                        position: absolute;
                        top: 25px;
                        transition: .6s;
                        width: 0;
                    }

                    &:hover::after {
                        opacity: 1;
                        width: 100%;
                    }
                }
            }

            .theme {
                border: 1px solid $_white;
                border-radius: 50px;
                cursor: pointer;
                height: 30px;
                transition: .3s ease-in-out;
                width: 60px;
                position: relative;

                &::after {
                    content: "🔆";
                    color: var(--white);
                    display: inline;
                    position: absolute;
                    z-index: -1;
                    right: 6px;
                    top: 2px;
                }

                &::before {
                    content: "🌙";
                    display: inline;
                    position: absolute;
                    left: 3px;
                    top: 2px;
                }
        
                .circle {
                    background: $_white;
                    border-radius: 50%;
                    display: inline-block;
                    height: 22px;
                    left: 3px;
                    position: relative;
                    top: 3px;
                    transition: .3s ease-in-out;
                    width: 22px;
                }
            }
        }
    }
}